@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
*

body{
    background-color: rgb(1, 1, 20);
    color: white;
}
.container{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}