@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
*

body{
    background-color: rgb(45, 45, 53);
    color: rgb(230, 230, 236);
}
.container{
    font-family: 'Raleway', sans-serif;
}
