input[type=text] {
  border-color: lightskyblue;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 320px;
  background: transparent;
  color: lightblue;
}

.button {
  padding: 14px;
  border-radius: 0 4px 4px 0;
  border-color: lightskyblue;
  cursor: pointer;
  outline: none;
  background-color:  rgb(36, 36, 41);
  color: rgb(230, 230, 236);
  text-transform: capitalize;
}
.button2 {
  padding: 14px;
  border-radius: 0 4px 4px 0;
  border-color: lightskyblue;
  cursor: pointer;
  outline: none;
  background-color:  rgb(36, 36, 41);
  color: rgb(230, 230, 236);
  text-transform: capitalize;
}

.button:hover{
  color: rgb(177, 248, 110);
}

@media screen and (max-width:900px){

    .main-contianer{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;       
    }
  
  }

.container1{
  padding: 50px;
  border-style: hidden;
  text-align: center;
}

.button2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: lightskyblue;
  ;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.button2:hover{
  color: white;
  background-color: grey;
}