.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding-top: 50px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid lightskyblue;
  outline: none;
  width: 320px;
  background: transparent;
  color: lightblue;
}

.todo-input::placeholder {
  color: rgb(185, 192, 196);
}

.todo-button {
  padding: 16px;
  border: solid;
  border-radius: 0 4px 4px 0;
  border-color: lightskyblue;
  cursor: pointer;
  outline: none;
  background: transparent;
  color: lightblue;
  text-transform: capitalize;
}

.todo-button:hover{
  color: whitesmoke;
  background-color: grey;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: pink;
  background: transparent;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
.todo-row:hover{
  font-size: 40px;
}


.todo-row:nth-child(4n + 1) {
  color: rgb(196, 174, 248);
}

.todo-row:nth-child(4n + 2) {
  background: transparent;
  color: aquamarine;
}

.todo-row:nth-child(4n + 3) {
  background: transparent;
  color: rgb(253, 217, 151);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(248, 226, 229);
}

.delete-icon:hover {
  color: rgb(132, 248, 23);
}

.post-its{
  margin-bottom: 60px;
}
