* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo-app {
  /* display: flex;
  flex-direction: column;
  justify-content: start; */
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  border-color: lightskyblue;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 320px;
  background: transparent;
  color: lightblue;
}

.todo-input::placeholder {
  color: rgb(112, 112, 141);
  font-weight: bolder;
}

.edit::placeholder{
  color: rgb(112, 112, 141);
    font-weight: bolder;
    background-color:  rgb(36, 36, 41);
}

.todo-button {
  padding: 16px;
  border-radius: 0 4px 4px 0;
  border-color: lightskyblue;
  cursor: pointer;
  outline: none;
  background-color:  rgb(36, 36, 41);
  color: rgb(230, 230, 236);
  text-transform: capitalize;
}
.todo-button:hover{
  color: rgb(177, 248, 110);
}

.todo-input.edit {
  border: 2px solid lightskyblue;
}

.todo-button.edit {
  background-color:  rgb(36, 36, 41);
  padding: 16px 22px;
}

.todo-button.edit:hover{
  color: rgb(177, 248, 110);
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  ;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
}