@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
*

.nav{
    padding: 40px;
}
.nav-item{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
.navBtn{
    color: navy;
    padding: 15px;
}
.navBtn:Hover{
    color: white;
    background-color: rgb(12, 12, 71);
}